# Ignore everything at root level by default
/*

# Allow repo files
!.gitignore
!.gitattributes
!README.md

# ===== ALLOWED GAME FOLDERS =====
# Uncomment or add new game folders as they are ready for upload

!Prince-of-Persia-The-Sands-of-Time-Trainer/
!X2-Wolverines-Revenge-2003-Cheat-Engine/
!Operation-Flashpoint-Cold-War-Crisis-God-Mode/
